<html><head>

<link href="/css/font.css" rel="stylesheet"></link>
<link href="/css/global.css" rel="stylesheet"></link>
<title>Project 64 - Crypto Art Games</title>
</head><body>
<nav class="user">
{{if .User}}
    <a href="#{{.User.Login}}" id="user" data-userid="{{.UserID}}">
        <img src="{{.User.ProfileImageURL}}"/>
        <span>{{.User.DisplayName}}</span>
    </a>
{{else}}
    <a href="/login" class="login">
        <span>Login using Twitch</span>
    </a>
{{end}}
</nav>
<nav class="world" id="world-nav">
    <a href="/project-1024" id="logo" draggable="false">
        <span>Project 64</span>
        <img src="/i/logo.png" draggable="false"/>
    </a>
    <div class="levels">
        <div></div><div>1</div><div>2</div><div>3</div><div>4</div><div>5</div><div>6</div><div>7</div><div>8</div><div>9</div><div>10</div><div>11</div><div>12</div><div>13</div><div>14</div><div>15</div><div>16</div>
        <div>1</div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div>2</div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div>3</div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div>4</div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div>5</div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div>6</div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div>7</div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div>8</div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div>9</div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div>10</div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    </div>
</nav>
<canvas id="palette"></canvas>
<nav class="brush-state" id="brush-state"></nav>
<canvas id="bgcanvas"></canvas>
<script src="/js/lib/jsuri-1.1.1.js"></script>
<script src="/js/lib/base64.js"></script>
<script src="/js/lib/bitset.min.js"></script>
<script src="/js/lib/nearestColor.js"></script>
<script src="/js/lib/localforage.min.js"></script>
<script src="/js/lib/polyfills.js"></script>
<script src="/js/global.js"></script>
<script src="/js/game.js"></script>
<script src="/js/lib/object.js"></script>
<script src="/js/lib/event.js"></script>
<script src="/js/lib/socket.js"></script>
<script src="/js/board.js"></script>
<script src="/js/palette.js"></script>
<script src="/js/tile.js"></script>
<script src="/js/frame.js"></script>
</body></html>
