<html><head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link href="/css/font.css" rel="stylesheet"></link>
    <link href="/css/global.css" rel="stylesheet"></link>
    <title>Game 1 - Crypto Art Games</title>
</head><body>
<nav class="user">
    <div class="healthbar ltr" id="healthbar"></div>
</nav>
<nav class="world" id="world-nav">
    <a href="/" id="logo" draggable="false">
        <span>World 1 - 1</span>
        <img src="/i/logo.png" draggable="false"/>
    </a>
    <div class="levels">
        <div></div><div>1</div><div>2</div><div>3</div><div>4</div><div>5</div><div>6</div><div>7</div><div>8</div>
        <div>1</div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div>2</div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div>3</div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div>4</div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div>5</div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div>6</div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div>7</div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div>8</div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    </div>
</nav>
<aside id="left">
    <nav>
        <a id="help-toggle" data-toggle="help"><em>H</em></a>
    </nav>
    <div id="help">
        <em>Click</em> to focus/edit tile<br/>
        <em>Scroll</em> to zoom<br/>
        <em>W</em> <em>&uarr;</em> to move up<br/>
        <em>A</em> <em>&larr;</em> to move left<br/>
        <em>S</em> <em>&darr;</em> to move down<br/>
        <em>D</em> <em>&rarr;</em> to move right<br/>
        <em>Space</em> to edit/commit tile<br/>
        <em>Esc</em> to cancel/defocus<br/>
        <em>Tab</em> to open palette<br/>
        <em>Alt</em> to use eyedropper<br/>
        <em>E</em> to use eraser<br/>
        <em>C</em> to toggle chat<br/>
        <hr/>
        <em>H</em> to toggle this menu<br/>
    </div>
</aside>
<aside id="right">
    <nav>
        <a id="recent-frames-toggle" data-toggle="recent-frames"><em>R</em></a>
    </nav>
    <div id="recent-frames">
        <h4>Recent Board Edits</h4>
        <hr/>
        <ul><li class="loading">Loading...</li></ul>
    </div>
</aside>
<aside id="bot">
    <nav>
        <a id="chat-toggle" data-toggle="chat"><em>C</em></a>
    </nav>
    <div id="chat">
        <iframe src="https://www.twitch.tv/embed/cryptoartgames/chat?parent={{.HOST}}"
            height="360"
            width="480">
        </iframe>
    </div>
</aside>
<div id="modal">
    <div id="modal-login" class="login">
        <form class="std" method="GET" action="/login">
            <h2>Log in with Twitch to participate</h2>
            <div class="field suibmit cta c">
                <input class="submit" type="submit" value="Log in with Twitch">
            </div>
        </form>
    </div>
    <div id="modal-policy" class="policy">
        <form class="std" method="POST" action="/policy-accept">
            <h2>One last step ...</h2>
            <div class="field">
                <label for="agree" class="chk">
                    <input type="checkbox" id="agree" name="agree" class="chk"/>
                    I understand and agree to the Crypto Art Games<br/> <a href="/terms-of-service" target="_blank">Terms of Service</a> and <a href="/privacy-policy" target="_blank">Privacy Policy</a>
                </label>
            </div>
            <div class="field suibmit cta c">
                <input class="submit" type="submit" value="Continue">
            </div>
        </form>
    </div>
</div>
<div id="report">
    <div class="reason"></div>
    <a data-reason="noise" title="Scribbling, blackout, disruptive">Noisy</a>
    <a data-reason="spam" title="Self promotion, copyright violation, non-artful content">Spammy</a>
    <a data-reason="nudes" title="Nudity, gore, vulgar language">Lude</a>
    <a data-reason="hate" title="Hate symbols, racial slurs">Hateful</a>
</div>
<template id="recent-frames-li">
<li data-timecode="">
    <nav class="mod">
        <a class="love" title="Love"><span class="heart f4-4"/></a>
        <a class="report" title="Report"></a>
    </nav>
    <a class="user" title="">
        <img src=""/>
        <span/>
    </a>
    <span class="timeago" datetime=""/>
</li>
</template>
<div id="scrubber"><div></div></div>
<div id="flash"></div>
<canvas id="palette" width="0" height="0"></canvas>
<nav class="brush-state" id="brush-state"></nav>
<canvas id="bgcanvas" class="full" width="0" height="0"></canvas>
<canvas id="uicanvas" class="full" width="0" height="0"></canvas>
<script src="/js/lib/helpers.js"></script>
<script src="/js/lib/timeago.min.js"></script>
<script src="/js/lib/jsuri-1.1.1.js"></script>
<script src="/js/lib/base64.js"></script>
<script src="/js/lib/bitset.min.js"></script>
<script src="/js/lib/nearestColor.js"></script>
<script src="/js/lib/localforage.min.js"></script>
<script src="/js/lib/polyfills.js"></script>
<script src="/js/global.js"></script>
<script src="/js/game.js"></script>
<script src="/js/lib/object.js"></script>
<script src="/js/lib/event.js"></script>
<script src="/js/lib/socket.js"></script>
<script src="/js/user.js"></script>
<script src="/js/nav.js"></script>
<script src="/js/board.js"></script>
<script src="/js/palette.js"></script>
<script src="/js/tile.js"></script>
<script src="/js/frame.js"></script>
</body></html>
