<html><head>

<link href="/css/font.css" rel="stylesheet"></link>
<link href="/css/global.css" rel="stylesheet"></link>
<title>Project 64 - Crypto Art Games</title>
</head><body>
<nav class="user">
{{if .User}}
    <a id="user" data-userid="{{.UserID}}">
        <img src="{{.User.ProfileImageURL}}"/>
        <span>{{.User.DisplayName}}</span>
    </a>
{{else}}
    <a href="/login" class="login">
        <span>Login using Twitch</span>
    </a>
{{end}}
</nav>
<nav class="world" id="world-nav">
    <a href="/" id="logo" draggable="false">
        <span>Project 64</span>
        <img src="/i/logo.png" draggable="false"/>
    </a>
    <div class="levels">
        <div></div><div>1</div><div>2</div><div>3</div><div>4</div><div>5</div><div>6</div><div>7</div><div>8</div>
        <div>1</div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div>2</div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div>3</div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div>4</div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div>5</div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div>6</div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div>7</div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
        <div>8</div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
    </div>
</nav>
<aside id="left">
    <nav>
        <a id="help-toggle" data-toggle="help"><em>H</em></a>
    </nav>
    <div id="help">
        <em>Click</em> to focus/edit tile<br/>
        <em>W</em> <em>&uarr;</em> to move up<br/>
        <em>A</em> <em>&larr;</em> to move left<br/>
        <em>S</em> <em>&darr;</em> to move down<br/>
        <em>D</em> <em>&rarr;</em> to move right<br/>
        <em>Space</em> to edit/commit tile<br/>
        <em>Esc</em> to cancel/defocus<br/>
        <em>Tab</em> to open palette<br/>
        <em>Alt</em> to use eyedropper<br/>
        <em>E</em> to use eraser<br/>
        Moving commits changes<br/>
        Tile lock duration 120 sec<br/>
        Tile cooldown 60 sec<br/>
        <hr/>
        <em>H</em> to toggle this menu<br/>
    </div>
</aside>
<aside id="right">
    <nav>
        <a id="recent-frames-toggle" data-toggle="recent-frames"><em>R</em></a>
    </nav>
    <div id="recent-frames">
        Loading...
    </div>
</aside>
<div id="scrubber"><div></div></div>
<canvas id="palette"></canvas>
<nav class="brush-state" id="brush-state"></nav>
<canvas id="bgcanvas" class="full"></canvas>
<canvas id="uicanvas" class="full"></canvas>
<script src="/js/lib/jsuri-1.1.1.js"></script>
<script src="/js/lib/base64.js"></script>
<script src="/js/lib/bitset.min.js"></script>
<script src="/js/lib/nearestColor.js"></script>
<script src="/js/lib/localforage.min.js"></script>
<script src="/js/lib/polyfills.js"></script>
<script src="/js/global.js"></script>
<script src="/js/game.js"></script>
<script src="/js/lib/object.js"></script>
<script src="/js/lib/event.js"></script>
<script src="/js/lib/socket.js"></script>
<script src="/js/nav.js"></script>
<script src="/js/board.js"></script>
<script src="/js/palette.js"></script>
<script src="/js/tile.js"></script>
<script src="/js/frame.js"></script>
</body></html>

