<html><head>
<title>Privacy Policy - Crypto Art Games</title>
<link href="/css/ext.css" rel="stylesheet"></link>
</head><body>
<h1>Privacy Policy</h1>
<div class="content">
<p class="c">We take privacy very seriously.</p>
<p class="c">Please read the following privacy policy in its entirety before participating.<br/><br/><br/></p>
<h2>Twitch Account Details</h2>
<p>Crypto Art Games collects some Twitch profile information as part of the standard
single sign on process.</p>
<ul>
    <li>
        <strong>Account name, display name and profile image</strong><br/><br/>
        By participating in Crypto Art Games you agree to have your account name, display name and profile image displayed
        on the website as part of one of our games. You also agree to have these details included in any works
        produced and compiled for sale and distribution by Crypto Art Games (ie. Non Fungible Tokens). NFTs sold on
        OpenSea may contain Twitch account display names and/or profile images. If you do not agree to this then you
        should not participate.<br/><br/><br/>
    </li>
    <li>
        <strong>Email Address</strong><br/><br/>
        We retrieve email addresses from Twitch as part of the single sign in process. We do not store email address.
        We store a peppered hash of the normalized address to prevent users from creating duplicate accounts.
        <pre>

email_hash = base64(sha256(pepper + normalize(email)))

</pre>
        We will never send you email because we don't store your email address.<br/>
        We will never share your email address with third parties because we don't store your email address.<br/><br/>
    </li>
</ul>
<h2>Security</h2>
<p>Crypto Art Games is owned and operated by web application security experts. Here are a few of the security measures
used to safeguard the application and your data within it:</p>
<ul>
    <li>SSH password authentication disabled</li>
    <li>Restrictive Linux firewall configuration</li>
    <li>Restrictive Network Configuration</li>
    <li>Restrictive Content Security Policy</li>
    <li>Restrictive X-Frame-Options</li>
    <li>Restrictive Cross Domain Policies</li>
    <li>OAuth 2.1 Single Sign On</li>
    <li>Secure HttpOnly Session cookies</li>
    <li>Mandatory two factor authentication on all privileged accounts</li>
</ul>
<p>If you think you've found a security problem, please contact us <a href="mailto:admin@cryptoart.games">admin@cryptoart.games</a></p>
<p><br/></p>
<p><br/></p>
</div>
</body></html>
