<html><head>
<title>Política de privacidad - Crypto Art Games</title>
<link href="/css/ext.css" rel="stylesheet"></link>
</head><body>
<h1>Política de privacidad</h1>
<div class="content">
<p class="c"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nos tomamos la privacidad muy en serio.</font></font></p>
<p class="c"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lea la siguiente política de privacidad en su totalidad antes de participar.</font></font><br><br><br></p>
<h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Detalles de la cuenta de Twitch</font></font></h2>
<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Crypto Art Games recopila cierta información del perfil de Twitch como parte del proceso estándar de inicio de sesión único.</font></font></p>
<ul>
    <li>
        <strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nombre de cuenta, nombre para mostrar e imagen de perfil</font></font></strong><br><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
        Al participar en Crypto Art Games, acepta que su nombre de cuenta, nombre para mostrar e imagen de perfil se muestren en el sitio web como parte de uno de nuestros juegos. </font><font style="vertical-align: inherit;">También acepta que estos detalles se incluyan en cualquier trabajo producido y compilado para la venta y distribución por Crypto Art Games (es decir, tokens no fungibles). </font><font style="vertical-align: inherit;">Los NFT vendidos en OpenSea pueden contener nombres para mostrar de cuentas de Twitch y / o imágenes de perfil. </font><font style="vertical-align: inherit;">Si no está de acuerdo con esto, no debe participar.</font></font><br><br><br>
    </li>
    <li>
        <strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Dirección de</font></font></strong><br><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
        correo electrónico Recuperamos direcciones de correo electrónico de Twitch como parte del proceso de inicio de sesión único. </font><font style="vertical-align: inherit;">Nunca compartiremos su dirección de correo electrónico con terceros. </font><font style="vertical-align: inherit;">Solo usamos direcciones de correo electrónico para enviar a los usuarios que están suscritos al boletín semanal.</font></font><br><br>
    </li>
</ul>
<h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Seguridad</font></font></h2>
<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Crypto Art Games es propiedad y está operado por expertos en seguridad de aplicaciones web. </font><font style="vertical-align: inherit;">Estas son algunas de las medidas de seguridad que se utilizan para proteger la aplicación y sus datos dentro de ella:</font></font></p>
<ul>
    <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Autenticación de contraseña SSH deshabilitada</font></font></li>
    <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Configuración de firewall restrictiva de Linux</font></font></li>
    <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Configuración de red restrictiva</font></font></li>
    <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Política de seguridad de contenido restrictiva</font></font></li>
    <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Opciones restrictivas de X-Frame</font></font></li>
    <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Políticas restrictivas entre dominios</font></font></li>
    <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Inicio de sesión único de OAuth 2.1</font></font></li>
    <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cookies de sesión seguras de HttpOnly</font></font></li>
    <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Autenticación obligatoria de dos factores en todas las cuentas administrativas privilegiadas</font></font></li>
</ul>
<p>If you think you've found a security problem, please contact us <a href="mailto:admin@cryptoart.games">admin@cryptoart.games</a></p>
<p><br></p>
<p><br></p>
</div>
</body></html>
