<html><head>
<title>Privacy Policy - Crypto Art Games</title>
<style>
html { font-size: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; font-family: open sans, arial, sans-serif; color: rgba(0,0,0,0.75); position: relative; }
html, body { min-height: 100vh; background: #ddd; }
body { font-size: 1.2em; }
pre { padding: 0.5em 1.5em; background: #bbb; }
div.content, h1 { max-width: 800px; margin: 0 auto; }
h1 { text-align: center; margin: 2em auto; }
</style>
</head><body>
<h1>Privacy Policy</h1>
<div class="content">
<p>We take privacy very seriously at Crypto Art Games.<br/>
We will not sell your personal information to third parties.</p>
<h2>Twitch Account Details</h2>
<p>Upon authenticating to Twitch, Crypto Art Games will collect some Twitch profile information as part of the standard
single sign on process. That information is used in the following ways:</p>
<ul>
    <li>
        <strong>Account name, display name and profile image</strong><br/><br/>
        By using Crypto Art Games you agree to have your account name, display name and profile image displayed
        on the website as part of one of our games. You also agree to have these details included in any works
        produced and compiled for sale and distribution by Crypto Art Games (ie. Non Fungible Tokens). NFTs sold on
        OpenSea may contain Twitch account display names and/or profile images. If you do not agree to this then you
        should not play.<br/><br/><br/>
    </li>
    <li>
        <strong>Email Address</strong><br/><br/>
        We retrieve email addresses from Twitch as part of the single sign in process. We do not store email address.
        We store a peppered hash of the normalized address to prevent abuse. Example:
        <pre>

hash = base64(sha256(pepper + normalize(email)))

</pre>
        We will never send you email because we don't store your email address.<br/>
        We will never share your email address with third parties because we don't store your email address.<br/><br/>
    </li>
</ul>
</div>
</body></html>
