html { font-size: 100%; }
body { margin: 0; padding: 1em;  font-size: 13px; line-height: 1.231; font-family: open sans, arial, sans-serif; color: rgba(0,0,0,0.75); position: relative; }

a { text-decoration: none; }
a:hover, a:active { text-decoration: underline; }

pre { padding: 0.5em 1.5em; background: #e9e9e9; }
nav.section { float: right; }
nav.section a { float: left; line-height: 1.5em; padding: 0 1em; }

form#series { float: right; }
form#series textarea { min-width: 40em; min-height: 54em; }

form.std { padding: 1em; box-shadow: 0 0 1em rgba(0,0,0,0.1); }
form.std .field { padding: 0.5em 0.5em; }
form.std .field.submit { padding-top: 1em; clear: both; }
form.std .field.first { padding-top: 0; }
form.std .field label { display: block; line-height: 1.2em; padding-bottom: 0.25em; }
form.std .text { border: none; padding: 0.42em 0.5em; width: 20em; font-size: 1em; line-height: 1.2em; box-sizing: border-box; max-width: 100%; }
form.std .large { width: 24em; }
form.std .small { width: 12em; }
form.std select.demo-icon { width: 4em; }
form.std .date { width: 7em; }
form.std .full { width: 100%; box-sizing: border-box; }
form.std textarea.large { height: 8em; }
form.std textarea.tall { height: 24em; }
form.std textarea.med-tall { height: 12em; }
form.std a.btn { border: none; background: rgba(0,0,0,0.5); color: #fff; padding: 0 0.8em; cursor:pointer; line-height: 2.2em; font-size: 1em; display: inline-block; text-decoration: none; }
form.std input.submit { border: none; background: rgba(0,0,0,0.5); color: #fff; padding: 0 0.8em; cursor:pointer; line-height: 2.2em; font-size: 1em; }
form.std input.submit[disabled] { background: rgba(0,0,0,0.2); }
form.std a.btn:hover,
form.std input.submit:hover { background: rgba(0,0,0,0.6); }
form.std a.cancel { padding: 0 0.8em; cursor:pointer; line-height: 2.2em; font-size: 1em; }
form.std a.cancel:hover { opacity: 1; }
form.std p { margin: 0; font-size: 0.9em; }
form.std.horizontal { padding: 0.6em; font-size: 0.9em; }
form.std.horizontal .text { width: auto; padding: 0.2em 0.3em; }
form.std label.chk { padding: 0.5em; font-size: 0.85em; }
form.std label input.chk { float: left; margin-right: 0.8em; transform: scale(1.25); }

form.std div.field.submit a.cancel { padding: 0 1em; line-height: 2em; color: rgba(0,0,0,0.7); }
