html { font-size: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; font-family: open sans, arial, sans-serif; color: rgba(0,0,0,0.75); position: relative; }
html, body { min-height: 100vh; overflow: hidden; background: #191919; }
button { font-weight: bold; background: #000; border-radius: 0; border: none; text-align: center; line-height: 2em; }
a { text-decoration: none; color: rgba(255,255,255,0.7); }
a:hover { text-decoration: underline; color: rgba(255,255,255,0.9); }
a {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#palette { position: absolute; display: none; z-index: 200; box-shadow: 0px 0px 10px rgba(0,0,0,0.5); }

nav.world { position: absolute; top: 0; left: 0; z-index: 100; }
nav.world a { float: left; background: #ccc; }
nav.world a span { float: left; line-height: 2em; padding: 0em 1.5em; color: #fff; font-weight: bold; text-shadow: 0 0 2px rgba(0,0,0,0.7); cursor: pointer; font-size: 1.5em; }
nav.world a img { height: 3em; margin: 0 -1.5em 0 0; float: right; border-radius: 50%; padding: 0; }
nav.world div.levels { width: 18em; height: 18em; background: rgba(255,255,255,0.9); margin-top: 3em; display: none; }
nav.world div.levels div { width: 2em; height: 2em; float: left; content: "a"; color: rgba(0,0,0,0.7);
    text-align: center; box-shadow: inset 0 0 1px rgba(0,0,0,0.5); font-size: 1em; line-height: 2em; font-family: monospace; }
nav.world div.levels div:hover { box-shadow: inset 0 0 1px rgba(0,0,0,1); background: #fff; }
nav.world.open div.levels { display: block; }
nav.world div.levels div:nth-child(9n+1) { background: rgba(192,192,192,0.9); }
nav.world div.levels div:nth-child(-n+9) { background: rgba(192,192,192,0.9); }

#left { position: absolute; top: 3em; left: 0; z-index: 99; }
#left a { cursor: pointer; padding: 0.5em; display: inline-block; }
#left a.active { background: rgba(0,0,0,0.2); }
#left a em { display: inline-block; padding: 0 0.4em; font-style: normal; min-width: 1em; text-align: center; font-size: 1em; line-height: 1.7em; }
#left a em { background: rgba(0,0,0,0.2); color: rgba(255,255,255,0.8); }
#left div { padding: 1em 1em 1em; color: rgba(255,255,255,0.7); line-height: 2em; display: none; background: rgba(0,0,0,0.2); }
#left div.active { display: block; }
#left div em { display: inline-block; background: rgba(0,0,0,0.2); padding: 0 0.4em; color: rgba(255,255,255,0.8); font-style: normal; min-width: 1em; text-align: center; font-size: 1em; line-height: 1.7em; }

nav.brush-state { position: absolute; bottom: 0; left: 0; width: 6em; height: 6em; z-index: 100; box-shadow: 0 0 10px rgba(0,0,0,0.2); }

nav.user {
    background: #000;
    position: absolute; top: 0; right: 0;
    z-index: 100;
}
nav.user a { float: left; }
nav.user a span { float: left; line-height: 3em; padding: 0em 1.5em; }
nav.user a img { height: 3em; margin: 0 0 0 -1.5em; float: left; border-radius: 50%; padding: 0; }

canvas#bgcanvas {
    background: #666;
    position: absolute; top: 0; left: 0;
    z-index: 1;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
body.editing canvas#bgcanvas {

    cursor: crosshair;
}

body.color-picking canvas#bgcanvas {
    cursor: url(/i/cursor-eyedropper-light.png) 5 5, cell;
}

body.erasing canvas#bgcanvas {
    cursor: url(/i/cursor-eraser.png) 5 5, cell;
}