html { font-size: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; font-family: open sans, arial, sans-serif; color: rgba(0,0,0,0.75); position: relative; }
html, body { min-height: 100vh; overflow: hidden; background: #666; }
button { font-weight: bold; background: #000; border-radius: 0; border: none; text-align: center; line-height: 2em; }
a { text-decoration: none; color: rgba(255,255,255,0.7); cursor: pointer; }
a:hover { text-decoration: underline; color: rgba(255,255,255,0.9); }
a, span, img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

::-webkit-scrollbar { width: 6px; height: 1em; }
::-webkit-scrollbar-track { background: rgba(80,80,80,0.95); border-radius: 1em; }
::-webkit-scrollbar-thumb { background: rgba(0,0,0,0.5); border-radius: 1em; }

#palette { position: absolute; display: none; z-index: 200; }
#palette .info { background: none; line-height: 1.5em; padding: 0.2em 0.75em 0; background: #000; border-top-right-radius: 5px; border-top-left-radius: 5px; width: auto; color: rgba(255,255,255,0.4); float: left; }
#palette canvas { background: #666; box-shadow: 0px 0px 10px rgba(0,0,0,0.5); float: left; clear: left; border: outset 4px #000; border-radius: 5px; border-top-left-radius: 0; }
#palette a { display: inline-block; vertical-align: middle; }
#palette img { display: inline-block; padding: 0 0.5em; vertical-align: middle; }

nav.world { position: absolute; top: 0; left: 0; z-index: 100; }
nav.world a { float: left; background: #ccc; }
nav.world a span { float: left; line-height: 2em; padding: 0em 1.5em; color: #fff; font-weight: bold; text-shadow: 0 0 2px rgba(0,0,0,0.7); cursor: pointer; font-size: 1.5em; }
nav.world a img { height: 3em; margin: 0 -1.5em 0 0; float: right; border-radius: 50%; padding: 0; }

aside { z-index: 99; position: absolute; }
aside div { padding: 1em 1em 1em; color: rgba(255,255,255,0.7); line-height: 2em; display: none; background: rgba(80,80,80,0.95); clear: both; }
aside nav a { cursor: pointer; padding: 0.5em; display: inline-block; }
aside nav a.active { background: rgba(80,80,80,0.95); }
aside div.active { display: block; }
aside hr { border: none; border-top: 1px dashed rgba(255,255,255,0.1); margin: 1em -1em; }
aside em { display: inline-block; padding: 0 0.4em; font-style: normal; min-width: 1em; text-align: center;
    font-size: 1em; line-height: 1.7em; background: rgba(0,0,0,0.2); color: rgba(255,255,255,0.8); border-radius: 0.25em; }
aside h4 { margin: 0; padding: 0; line-height: 1em; font-weight: normal; }
aside h3 { margin: -0.5em 0 0; color: rgba(255,255,255,0.3); font-size: 1.2em; }

aside#left { top: 3em; left: 0;  }
aside#right nav { float: left; }

aside#right { top: 3em; right: 0; }
aside#right nav { float: right; }
aside#right nav a.active { margin-bottom: -2.75em;}
aside#right hr { margin-bottom: 0.5em; }
aside#right ul { padding: 0 0 0.5em; margin: 0; height: 39em; width: 16em; }
aside#right ul li { list-style: none; margin: 0 -1em; padding: 0.5em 1em; clear: left; height: 3em; width: 16em; position: relative; }
aside#right ul li.loading { margin: 0; }
aside#right ul li:last-child { margin-bottom: 0.5em; }
aside#right ul li:hover { background: rgba(0,0,0,0.2); }
aside#right ul li img { width: 1.5em; height: 1.5em; float: left; margin-right: 0.5em; }
aside#right ul li span.timeago { display: inline-block; padding: 0 0.5em; font-size: 0.9em; color: rgba(255,255,255,0.5)}
aside#right ul li canvas { width: 3em; height: 3em; float: left; background: rgba(255,255,255,0.1); cursor: pointer; }
aside#right ul li a.user { display: block; padding: 0 0.5em; cursor: pointer; font-size: 0.9em; line-height: 1.5em; height: 1.5em; overflow: hidden; white-space: no-wrap; }
aside#right ul li nav.mod { display: none; position: absolute; bottom: 0; right: 0;  }
aside#right ul li:hover nav.mod { display: block; }
aside#right ul li nav.mod a { width: 16px; height: 16px; float: left; overflow: hidden; margin: 0; opacity: 0.2; }
aside#right ul li nav.mod a.report { background: no-repeat center center url(/i/report.png); }
aside#right ul li nav.mod a:hover { opacity: 0.8; }
.reporting aside#right ul li.reporting { display: block; background: rgba(0,0,0,0.2); }
.reporting aside#right ul li.reporting nav.mod { display: block; }
.reporting aside#right ul li.reporting nav.mod a.report { opacity: 0.7; }

aside#bot { bottom: 0; right: 0; }
aside#bot nav { float: right; z-index: 1005; }
aside#bot a.active { margin-bottom: -2.7em; margin-right: -0.5em; z-index: 1005; position: relative; background: none; }
aside#bot a.active em { background: rgba(80,80,80,0.95); }
aside#bot div { z-index: 5; }
aside#bot div iframe { z-index: 5; position: relative; margin: -5px -15px -15px -5px; }

aside#left ul { padding: 0 0 0.5em; margin: 0; width: 17em; }
aside#left ul li { list-style: none; margin: 0 -1em; padding: 0.5em 1em; clear: left; width: 17em; position: relative; padding-right: 0; }
aside#left #series h4 { clear: left; padding: 0 0.25em 0.5em; }
aside#left #series a { float: left; padding: 0.25em; }
aside#left #series img { width: 48px; height: 48px; float: left; }
aside#left #series { float: left; }

#report { display: none; position: absolute; background: rgba(64,64,64,0.9); z-index: 1002; right: 0; width: 18em; }
#report a { padding: 0 1em; display: block; line-height: 2em; width: 4em; float: right; clear: right; }
#report a:hover { background: rgba(32,32,32,0.8); text-decoration: none; }
#report .reason { float: left; width: 10em; height: 7em; padding: 0.5em 1em; background: rgba(32,32,32,0.8); color: rgba(255,255,255,0.7); }
.reporting #report { display: block; }

#flash { position: absolute; top: 0; left: 0; right: 0; text-align: center; color: rgba(255,255,255,0.9); z-index: 1000; display: none; padding-top: 2em; }
#flash.active { display: block; }
#flash span { display: inline-block; padding: 0.5em 1.5em; line-height: 1.5em; font-size: 1.5em; border-radius: 1.25em; box-shadow: 0 5px 5px rgba(0,0,0,0.1); text-shadow: 0 0 2px rgb(0 0 0 / 70%); }
#flash span.success { background: #080; }
#flash span.error { background: #a00; }

nav.brush-state { position: absolute; bottom: 0; left: 0; width: 6em; height: 6em; z-index: 100; box-shadow: 0 0 10px rgba(0,0,0,0.2); display: none; }

span.heart { width: 15px; height: 14px; overflow: hidden; display: inline-block; opacity: 0.75; }

span.heart { background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAABGCAMAAAAkXz7cAAAAGFBMVEUAAAD/AAD///8AAAD/yckAAAD/AAD///8IxmZ/AAAABXRSTlMAAAA9PfDrAh4AAAChSURBVDjLxY9LEoQwCAUJCN7/xkP4SWZhlVkom5d+VCkNiKSDYAEzDx2KALDUV0TysctLQQN6QWPoBYMaAlbhW8zC0NgKR+dZ4PBV+bFO82PR4ctPxIv8+S6/5oeP/PjvXtnlKALLL7D8EtOvtqETWH6B5cef+cWXLj9uaH7c0Py4bTGLxY9v/KZY83Ox8tM8T33lfWxYF02WleWW3/JzxB9ZFg8PNx8suQAAAABJRU5ErkJggg=='); }
span.heart.f0-4 { background-position: left top; }
span.heart.f1-4 { background-position: left -14px; }
span.heart.f2-4 { background-position: left -28px; }
span.heart.f3-4 { background-position: left -42px; }
span.heart.f4-4 { background-position: left -56px; }

nav.user {
    position: absolute; top: 0; right: 0;
    z-index: 100;
}
nav.user .healthbar { float: left; margin: 0 -1em 0 0; line-height: 2.55em; padding: 0.45em 3.5em 0 1.25em; background: rgba(0,0,0,0.15); border-radius: 1.5em; display: none; }
nav.user .healthbar.ltr .heart {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
nav.user a { background: #000; float: left; }
nav.user a span { float: left; line-height: 3em; padding: 0em 1.5em; }
nav.user a img { height: 3em; margin: 0 0 0 -1.5em; float: left; border-radius: 50%; padding: 0; }

canvas.full {
    position: absolute;
    z-index: 1;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
body.editing canvas.full { cursor: crosshair; }
canvas#bgcanvas { background: #666; display: none; }
canvas#uicanvas { z-index: 2; }

body.color-picking canvas.full, #palette canvas { cursor: url(/i/cursor-eyedropper-light.png) 0 10, cell; }
body.erasing canvas.full { cursor: url(/i/cursor-eraser.png) 5 5, cell; }

#scrubber {
    position: absolute; bottom: 0; left: 50%; width: 800px; margin-left: -400px;  z-index: 99;
    overflow-x: scroll;  transform:rotate(180deg);
}
#scrubber div { height: 1em; }

#modal { position: absolute; bottom: 0; left: 0; right: 0; top: 0; background: rgba(0,0,0,0.5); display: none; z-index: 1000; }
#modal.active { display: block; }
#modal > div { display: none;  position: absolute; left: 50%; top: 50%; width: 32em; margin: -8em 0 0 -16em; background: #ccc; z-index: 1001; text-align: center; }
#modal.login .login { display: block; }
#modal form { margin: 0; }
#modal form label { cursor: pointer; font-size: 1em; text-align: left; }
#modal.policy .policy { display: block; }
#modal.policy .policy a { color: #000; text-decoration: underline; }

form.std { padding: 1em; box-shadow: 0 0 1em rgba(0,0,0,0.1); }
form.std .field { padding: 0.5em 0.5em; }
form.std .field.submit { padding-top: 1em; clear: both; }
form.std .field.first { padding-top: 0; }
form.std .field label { display: block; line-height: 1.2em; padding-bottom: 0.25em; }
form.std .text { border: none; padding: 0.42em 0.5em; width: 20em; font-size: 1em; line-height: 1.2em; box-sizing: border-box; max-width: 100%; }
form.std .large { width: 24em; }
form.std .small { width: 12em; }
form.std select.demo-icon { width: 4em; }
form.std .date { width: 7em; }
form.std .full { width: 100%; box-sizing: border-box; }
form.std textarea.large { height: 8em; }
form.std textarea.tall { height: 24em; }
form.std textarea.med-tall { height: 12em; }
form.std a.btn { border: none; background: rgba(0,0,0,0.5); color: #fff; padding: 0 0.8em; cursor:pointer; line-height: 2.2em; font-size: 1em; display: inline-block; text-decoration: none; }
form.std input.submit { border: none; background: rgba(0,0,0,0.5); color: #fff; padding: 0 0.8em; cursor:pointer; line-height: 2.2em; font-size: 1em; }
form.std input.submit[disabled] { background: rgba(0,0,0,0.2); }
form.std a.btn:hover,
form.std input.submit:hover { background: rgba(0,0,0,0.6); }
form.std a.cancel { padding: 0 0.8em; cursor:pointer; line-height: 2.2em; font-size: 1em; }
form.std a.cancel:hover { opacity: 1; }
form.std p { margin: 0; font-size: 0.9em; }
form.std.horizontal { padding: 0.6em; font-size: 0.9em; }
form.std.horizontal .text { width: auto; padding: 0.2em 0.3em; }
form.std label.chk { padding: 0.5em; font-size: 0.85em; }
form.std label input.chk { float: left; margin-right: 0.8em; transform: scale(1.25); }

.cta { position: relative; margin-bottom: 5.5em; height: 3.5em; }
.cta .btn,
form.std .cta input.submit { padding: 0.8em 0 0.8em; width: 10em; margin-left: -5em; left: 50%; position: absolute; text-align: center;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3); border: none;
    background-size: cover;
    background-position: center;
    font-size: 1.5em;
}
form.std .cta input.submit { border-radius: 10px; line-height: 1em; }
form.std .cta { margin: 1em 0; }
.cta .btn:hover { text-decoration: none; }
.cta span { left: 50%; display: block; position: absolute; margin-left: 8em; line-height: 3.5em; width: 12em; font-size: 0.95em; text-align: left; }
.cta.c span { top: 5em; margin-left: -6em; text-align: center; line-height: 1.5em; }
form.std .cta.c { margin-bottom: 1.5em; }
#page-index .cta .btn {
    box-shadow: 0px 0px 1.5em rgba(255,0,64,0.3);
    animation-duration: 0.5s; animation-name: cta-hover; animation-direction: alternate; animation-iteration-count: infinite;
}